<style>
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
</style>

img {
  width: 300px;
}

body {
  background-color: #ffcccc;
  color: white;
  border-style: dotted;
  border-color: white;
  font-family: "bitter", serif;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

h2{
  text-indent: 20px;
}

p {
  text-indent: 10px;
}

ul {
  text-indent: 10px;
}
